@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;900&display=swap');


*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    }

body{
    background-color: rgb(22, 22, 22);
    font-family: 'Prompt', sans-serif;
    color: white;
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
}

p, h1 {
    margin: 0;
}

h1 {
    margin:0;
    padding:0;
    font-size:30px;
    font-weight:normal;
}

h4 {
    margin:0;
    padding:0;
    font-size:22px;
    font-weight:normal;
}

main {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

footer {
    text-align: center;
    margin-top: 20px;
}



.productPage {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
}

.ventajas {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
}

.ventaja {
    margin-top:10px;
    padding: 10px 10px 0 0;
    border-top: 2px solid rgb(255, 245, 245);
    animation: ventaja;
    animation-duration: 4s;
}

@keyframes ventaja {
    from {opacity: 0}
    to {opacity: 1}
    
}

.megaTitulo h2 {
    color: black;
    background-color: rgba(255, 255, 255, 0.699);
    width:fit-content;
    font-size: 70px;
    font-weight:normal;
    translate: -130px;
    padding: 10px;
    margin-bottom: 0;
    animation-name: megatituloh2;
    animation-duration: 2s;
    margin-top: 20px;
}

.megaTitulo h3 {
    color: white;
    background-color: rgba(255, 0, 0, 0.616);
    width:fit-content;
    font-size: 40px;
    font-weight:normal;
    translate: -130px;
    padding: 10px;
    margin-top: 0;
    opacity: 0;
    animation-name: megatituloh3;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes megatituloh2 {
    from {opacity: 0; translate: 0px;}
    to  {opacity: 1; translate: -130px;}
}

@keyframes megatituloh3 {
    from {opacity: 0; translate: 0px;}
    to  {opacity: 1; translate: -130px;}
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin: 0;
}

.menu{
    color: white;
    display: flex;
    justify-content: end;
}

.menu ul{
    text-decoration: none;
    list-style: none;
}

.menu li {
    display: inline-block;
    padding: 15px;
}

.menu li:hover {
    background-color: rgb(48, 48, 48);
    transition-duration: 1s;
}

.bienvenida {
    text-align: center;
    margin-bottom: 20px;
}

.boxModelo {
    background-color: gray;
    height: 300px;
    padding: 25px;
}

.modeloLoft{
    background-image: url('img/loft.jpg');
}

.modeloHouse{
    background-image: url('img/house.jpg');
}

.modeloHorizon{
    background-image: url('img/horizon.jpg');
}

.modeloMagnum{
    background-image: url('img/magnum.jpg');
}

.modeloTitulo{
    opacity: 0;
    width: 100%;
    height: 100%;
    transition-duration: 1s;
    margin: 0 auto;
    text-align: center;
}

.modeloTitulo h1 {
    padding-top: 30px;
}

.modeloTitulo:hover{
    opacity: 1;
    background-color:rgba(22, 22, 22, 0.829)
}

.botonVerModelo {
    background-color: rgba(172, 13, 13, 0.185);
    width: 140px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5%;
}

.botonVerModelo:hover {
    background-color: rgba(172, 13, 13, 0.377);
}

  

@media (max-width: 1200px) {
    nav {
      display: none;
    }

    .header {
        display: grid;
        grid-template-columns: 1fr;
    }

    body {
        width: auto;
    }
    
    .header {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .logo img {
        padding-top: 10px;
        margin: 0 auto;
    }
    

    .bienvenida {
        text-align: center;
        margin-bottom: 20px;
        line-height: 30px;
        margin-top: 10px;
    }


    main {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }


    .boxModelo {
        background-color: gray;
        height: 300px;
        background-position: center;
    }
    

    .modeloTitulo{
        opacity: 1;
        background-color:rgba(22, 22, 22, 0.397);
    }

    footer {
        display:none;
    }
    
    .productPage {
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr;
    }

    

    .megaTitulo h2 {
        color: black;
        background-color: rgba(255, 255, 255, 0.699);
        width:fit-content;
        font-size: 40px;
        font-weight:normal;
        translate: 0px -60px;
        padding: 20px;
        margin-bottom: 0;
        animation-name: megatituloh2;
        animation-duration: 2s;
        margin-top: 20px;
    }

    .megaTitulo h3 {
        color: white;
        background-color: rgba(255, 0, 0, 0.616);
        width:fit-content;
        font-size: 30px;
        font-weight:normal;
        translate: 0px -60px;
        padding: 10px;
        margin-top: 0;
        opacity: 0;
        animation-name: megatituloh3;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }

    @keyframes megatituloh2 {
        from {opacity: 0; translate: 0px;}
        to  {opacity: 1; translate: 0px -60px;}
    }

    @keyframes megatituloh3 {
        from {opacity: 0; translate: 0px;}
        to  {opacity: 1; translate: 0px -60px;}
    }

    
    .ventajas {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }

    .ventaja {
        margin: 10px 10px 0 0;
        border-top: 2px solid rgb(255, 245, 245);
        animation: ventaja;
        animation-duration: 4s;
    }
        
  }