@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;900&display=swap');

$typoHAR: 'Prompt', sans-serif;
$modeloLoft: url('../img/loft.jpg');
$modeloHouse: url('../img/house.jpg');
$modeloHorizon: url('../img/horizon.jpg');
$modeloMagnum: url('../img/magnum.jpg');

$colorFondo: (
      "claro": rgba(255, 255, 255, 0.699),
      "rojo": rgba(255, 0, 0, 0.616),
);